{{!-- <div class="modal">
    <span><i class="fas fa-times-circle" id="close-modal"></i></span>
    <img src="/static/assets/Logo.png" class="logo" alt="No CAAP Logo" />

    <div>
        {{!-- <h2> Hi {{user-id}} </h2> TO DO: Maybe you can push the name in here once confirmed? --}}

        {{!-- <h2>Email Confirmed</h2>

        <p>You email {{email}} has been confirmed</p>
        <p>You can <a class="uppercase toggle-login">Log in now</p>
    </div> --}}

    {{!--
</div> --}}

<div class="modal">
    <span><i class="fas fa-times-circle" id="close-modal"></i></span>
    <img src="/static/assets/Logo.png" class="logo" alt="No CAAP Logo" />

    <h2>Forgot Password?</h2>

    <form id="#" method="post" action="#" novalidate>
        <div class="rectangle-two">
            <label for="email">Email <span>*</span></label>
            <input class="rectangle-two" type="email" id="email" name="email">
            <small>Please enter your email address</small>
        </div>

        <button class="btn" type="submit">Send reset link</button>
    </form>

{{!-- POP UP --}}
    <div class="modal"> 
        <div>
            <i class="fas fa-check modal-text"></i>
            <p>An email has been sent to {{email}} with further instructions</p>
            <a href="/login"><button class="btn" id="close-modal" type="button">Login</button></a>
        </div>
    </div>
</div>




</div>