<footer>
    <div>
        <p>© No CAAP 2021</p>
        <a href="https://www.themoviedb.org/" class="" rel="license cc:license"
            target="_newtab"><img class="credits" src="static/assets/TMDb.svg" alt="TMDb">
            <span>No CAAP uses the TMDb API but is not endorsed or certified by TMDb.</span>
        </a>
    </div>
</footer>