<footer>
    <small>© No CAAP 2021</small>
    {{!-- <a href="https://www.themoviedb.org/" class="logo" rel="license cc:license" target="_newtab"><img
            class="credits" src="static/assets/TMDb.svg" alt="TMDb">
        <span><small>No CAAP uses the TMDb API but is not endorsed or certified by TMDb.</small></span>
    </a> --}}
</footer>