<footer>
    <a href="https://www.themoviedb.org/" rel="license cc:license" target="_newtab"><img class="creditLogo"
            src="/static/assets/TMDb.svg" alt="TMDb">
    </a>
    <div>
        <small>2021 © No CAAP</small>
    </div>
</footer>