    <header>
      <nav>
        <div>
          <ul>
            <li>
              <img src="static/assets/Logo.png" class="logo" alt="No CAAP Logo" />
            </li>
            <li>
              <form class="rectangle-one" action="" method="">
                <input type="text" placeholder="Search" name="" />
                <span
                  ><button type="submit" class="searchBtn">
                    <i class="fas fa-search"></i></button
                ></span>
              </form>
            </li>
          </ul>
        </div>

        <div class="iconsButton">
          <ul>
            <li>
                <a href="#">
                    <i class="far fa-circle"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li>
                <a href="/home.handlebars">
                    <i class="fas fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <form method="post" action="/logout">
                <a href="/home.handlebars" onclick="toggle()">
                    <i class="fas fa-door-open"></i>
                    <span>Login</span>
                </a>
            </form>
          </ul>
        </div>
      </nav>
    </header>