<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.4/plyr.css" />]
    <script
      src="https://kit.fontawesome.com/019cb3d00c.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@0.4.0/dist/lottie-player.js"></script>
    <script src="https://cdn.plyr.io/3.6.4/plyr.js"></script>
    <script src="https://cdn.plyr.io/3.6.4/plyr.polyfilled.js"></script>
    <title> Home | No CAAP</title>
</head>
<body>
    {{>nav }}
    <section>

    </section>

    {{>footer }}
</body>
</html>