
.search-clear-filters:focus {
  outline: 0;
} */



.hero-details-container {
  width: 853px;
  max-width: 100%;
  margin: 0 20px;
}

.hero-details, .hero-overview, .hero-cast {
  margin-top: 1rem;
}

.hero-details {
  display: flex;
  align-items: baseline;
}

.hero-title {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.hero-runtime-genres-release {
  margin-right: 1rem;
}

.hero-cast {
  display: flex;
}

.hero-actor {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.hero-actor-image {
  margin-right: 0.5rem;
}

.hero-rating-container {
  display: flex;
}

.movies-container {
  display: flex;
  padding: 2rem;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 0 1rem 2rem;
  position: relative;
  text-align: center;
}

.movie img {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.movie img:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  align-items: center;
  left: 8px;
  top: 0px;
  background-color: black;
  padding: 1px;
  min-width: 40px;
  min-height: 30px;
}

.rating-star {
  color: grey;
}

.rating-value {
 font-size: 1.2rem;
 color: white;
}

.number-of-votes {
  font-size: 0.8rem;
  color: lightgrey;
}

.filters-container {
  display: flex;
  flex-direction: column;
  border: 0;
  width: 55%;
  padding-top: 20px;
}


.genre-filter-container {
  margin-bottom: 0.5rem;
}

.clear-filters {
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 10px;
}

.clear-filters:focus {
  outline: 0;
}