* {
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Playfair Display";
}

html,
body {
  background-color: #fffff4;
  height: 100%;
}

html h3,
body h3 {
  text-align: center;
  font-size: 1.5rem;
}

html button,
body button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

a {
    cursor: pointer;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h4 {
  width: 100%;
  text-align: center; 
  border-bottom: 1px solid lightgray; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

/* TODO: Is this selector right? */
h4 span { 
   background:#fff; 
   padding:0 10px; 
}

/* FOOTER */
footer {
  bottom: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  background-color: white;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

footer img {
  width: 80px;
  padding: 10px;
}

/* Navigation Bar */
nav {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0.025em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  margin: 10px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 20px;
}

nav input {
  outline: none;
  width: 350px;
}

nav img {
  width: 150px;
  padding-top: 3px;
}

.rectangle-one {
  padding: 10px;
  border-radius: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  border: 2px solid #7304ff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.rectangle-one.focus {
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.rectangle-one input[type="search"] {
  width: 350px;
  outline: none;
  -webkit-transition: all width 0.4s ease-in;
  transition: all width 0.4s ease-in;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 100%;
}

.rectangle-one input[type="search"]:focus {
  outline: 0;
  width: 350px;
}

.rectangle-one .search-dropdown {
  position: absolute;
  left: 0;
  top: 45px;
  background-color: #ffff;
  width: 400px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: scroll;
  max-height: 85vh;
  border-radius: 0 0 24px 24px;
  padding-bottom: 4px;
  overflow: hidden;
  /* letter-spacing: initial;
    align-items: initial; */
}

/* TODO: Deleted in css update but keep for the moment */
.searchBtn {
  background-color: white;
  cursor: pointer;
}

.iconsButton {
  padding-right: 20px;
  padding-top: 10px;
}

/* HOMEPAGE */
/* TODO: commented in css update */
.main-wrapper {
  width: 100vw;
  background-color: black;
  padding: 20%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-top: auto;
}

.secondary-wrapper {
  width: 80%;
  height: 200px;
}

.hero-section {
  padding: 0 0 1rem !important; /*remove important after removing from home.css*/
}

.hero-background { 
  background: #eee;
  height: 600px;
  overflow: hidden;
  padding: 0;
  position: relative;
}

iframe.hero-video { 
  box-sizing: border-box;
  height: fit-content;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  width: 100vw;
  opacity: 0.9;
  display: block;
  margin: auto;
}

/* POP UP WINDOW*/
div#blur.active {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 100vh;
  overflow-y: hidden;
}

/* Left in max-height and overflow scroll to allow for smaller screens */
.modal {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 80vh;
  overflow-y: scroll;
  padding: 30px;
  background: #fffff4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  /* display: flex; */
  opacity: 0;
  visibility: hidden;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  min-width: 25%;
}

.modal.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#close-modal {
  font-size: 1em;
  cursor: pointer;
  position: absolute;
  right: 80px;
  top: 50px;
}

.rectangle-two {
  width: 350px;
  height: 45px;
  margin: 5px 0;
  border: 1px solid #7304ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
}

.btn {
  width: 100px;
  height: 50px;
  color: white;
  /* background: -webkit-gradient(linear, left top, left bottom, from(#440bd4), to(#ffc0cb)); */
  background: linear-gradient(180deg, #440bd4 0%, #ffc0cb 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 37px;
  outline: none;
  margin: 15px;
  border-color: purple;
  font-size: 1rem;
  transition: all 0.9s ease-out;
}

.btn-secondary {
  width: 100px;
  height: 50px;
  color: black;
  background: white ;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 37px;
  outline: none;
  margin: 15px;
  font-size: 1rem;
  transition: all 0.9s ease-out;
  border: 0.5px solid lightgray;
}

.btn-secondary:hover {
  color: white;
  background: black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  color: black;
  background: #ffc0cb;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.form-control p { 
  font-size: 0.75rem;
  margin-top: 2px;
  margin-bottom: 2px;
}

.center { 
  text-align: center;
}

button.center {
  display: block;
  margin: 15px auto;
}

span i.fas.fa-times-circle { 
  position: absolute;
  right: 20px; 
  top: 20px;
  cursor: pointer;
}

i.fas.fa-eye {
  position: absolute;
  top: 38px;
  right: 10px;
}

.form-control { 
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 10px;
} 

.form-control input {
display: block;
}

.form-control input {
  display: block;
}

.form-control input:focus {
  outline: 0;
  border-color: #6a7b8b;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control.error small {
  visibility: visible;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  visibility: hidden;
  left: 10px;
  top: 47px;
  font-size: 10px;
}

/* .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; */
/*} */

.search-item {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: initial;
}

.search-item:hover {
  background-color: #fffff4;
}

.search-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 140px;
  width: 100%;
  border-bottom: 1px solid #9c84d6;
}

.search-item-image {
  width: calc(92px + 1rem);
  padding: 0.5rem;
}

.search-item-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.5rem;
}

.search-item-title {
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.search-filters-container {
  position: absolute;
  top: 45px;
  left: 200px;
  background-color: #fffff4;
  z-index: 3;
  padding: 1rem;
  border: 1px solid black;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
}

.search-filters-subcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.search-filters-half1 {
  margin-right: 1rem;
}

.search-genre-filter {
  width: initial;
}

.search-clear-filters {
  border: none;
  cursor: pointer;
  font-family: inherit;
  background-color: inherit;
  font-weight: 900;
  text-decoration: underline;
  margin: 0 auto 1rem;
  display: block;
}

.search-clear-filters:focus {
  outline: 0;
}

.movies-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
}

.movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 200px;
  margin: 0 1rem 2rem;
  position: relative;
  text-align: center;
}

.movies-section .rating-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: -5px;
  top: 5px;
  background-color: #693bdc;
  padding: 1px;
  min-width: 40px;
  min-height: 30px;
}

.rating-star {
  color: grey;
}

.rating-value {
  font-size: 1.2rem;
  color: white;
}

.number-of-votes {
  font-size: 0.8rem;
  color: lightgrey;
}

.filters-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 0;
  width: 40%;
}

.genre-filter-container {
  margin-bottom: 0.5rem;
}

.clear-filters {
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
  font-family: inherit;
  background-color: inherit;
  font-weight: 900;
  text-decoration: underline;
}

.clear-filters:focus {
  outline: 0;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=index.css.map */