* {
  font-family: "Archivo", sans-serif;
}

.movie-details-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-container {
  padding: 30px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  max-width: 20%;
  background-color: lightgray;
  border-radius: 20px;
}

.left-container h1 {
  font-size: 30px;
}

.left-container h3 {
  color: rgb(95, 95, 95);
}

.left-container img {
  border-radius: 20px;
  box-shadow: 5px 5px 10px #47474793;
}

.right-container {
  padding: 30px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  border-radius: 20px;
  color: white;
  /*background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://image.tmdb.org/t/p/w1280/7prYzufdIOy1KCTZKVWpjBFqqNr.jpg");*/
  /*background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));*/

  /*background-image: url("https://image.tmdb.org/t/p/w1280/7prYzufdIOy1KCTZKVWpjBFqqNr.jpg");*/
  /*background-repeat: no-repeat;
  background-size: cover;*/
  /*background-color: rgb(95, 95, 95);*/
}

.right-container iframe {
  border-radius: 20px;
  height: 700px;
  /*box-shadow: 5px 5px 10px #97979793;*/
}

.rating-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.rating {
  font-size: 30px;
  margin-left: 10px;
}

.rating-container button {
  margin-left: 20px;
  padding: 15px 45px;
  background: rgba(255, 255, 255, 0.4);
  font-size: 15px;
  /*color: white;*/
  border: 1px;
  border-radius: 8px;
  cursor: pointer;
}

.rating-container button:hover {
  background-color: darkgrey;
}

h1,
h3 {
  margin-top: 20px;
}

h3 {
  font-size: 20px;
}

p {
  margin-top: 10px;
}
