.movie-details-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}

.left-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  max-width: 20%;
  background-color: #fffff4;
}

.left-container h1 {
  font-size: 28px;
  margin: 20px 0;

}

.right-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  color: white;
}

.right-container iframe {
  height: 435px;
}

.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rating-container.individual-movie i:not(.filled) {
  font-size: 20px;
  color: grey;
  position: relative;
  margin: 2px;
}

.rating-container i.filled {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  font-size: 20px;
  color: orange;
}

.rating {
  font-size: 20px;
  margin-left: 10px;
}

.movie-details-container button {
  margin: 20px 0;
  padding: 15px;
  background: pink;
  font-size: 12px;
  border: 1px;
  border-radius: 37px;
  cursor: pointer;
  transition: all 0.9s ease-out;
}

.rating-container button:hover {
  color: black;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}


.left-container button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.rating-container button {
  margin-top: 15px;
  margin-left: 20px;
  background-color: white;
}

.right-container p {
  font-size: 1rem;
  line-height: 1.5;
}

.right-container h3 { 
  text-align: left;
  font-size: 1.7rem;
  margin: 20px 0;
}

.left-container h3 {
  text-align: left;
  margin: 10px 0;
}

.left-container p {
  font-size: 15px;
}

.left-container img {
  max-width: 100%;
}

.bottom-left-container button {
  min-width: 100%;
}

.rating-container button:hover {
  color: black;
  background: #ffc0cb;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.cast-slider-container {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  color: white;
}

.cast-item {
  margin: 15px;
  text-align: center;
  margin: 10px 10px 0 10px;
  text-align: center;
}

.cast-item img {
  width: 40px;
}

.cast-slider-container::-webkit-scrollbar {
  height: 10px;
}

.cast-slider-container::-webkit-scrollbar-track {
  background: rgba(158, 158, 158, 0.2);        /* color of the tracking area */
}

.cast-slider-container::-webkit-scrollbar-thumb {
  background-color: white;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

@media (max-width: 480px) {
  .movie-details-container {
    flex-direction: column;
    align-items: center;
  }
  
  .left-container {
    min-width: 100%;
  }

  .left-container img {
    width: 70%;
  }
  
  .right-container {
    min-width: 100%;
  }

  .rating-container {
    margin-top: 20px;
    flex-direction: column;
  }

  .top-left-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 20px;
  }
}