<div>
    <div class="secondary-wrapper">
        <h2>Email Confirmed</h2>

        <lottie-player src="https://assets10.lottiefiles.com/datafiles/nGt7myN4HgIyW1O/data.json"
            background="transparent" speed="1" style="width: 300px; height: 300px; margin: 50px;" loop="" autoplay="">
        </lottie-player>

        <p>Your email {{email}} has been verified</p>
        <p>You can <a class="uppercase open-modal"><u>Log in</u> now</p>
    </div>


</div>