<div>
    <span><i class="fas fa-times-circle" id="close-modal"></i></span>
    <img src="/static/assets/Logo.png" class="logo" alt="No CAAP Logo" />

    <div>
        <h2> Hi {{firstName}} </h2>

        <h2>Email Confirmed</h2>

        <p>Your email {{email}} has been verified</p>
        <p>You can <a class="uppercase open-modal">Log in now</p>
    </div>


</div>