<div class="secondary-wrapper">
    <h2>Oops something went wrong</h2>
    <lottie-player loop autoplay mode="normal" src="https://assets6.lottiefiles.com/packages/lf20_ETG8Dm/88 - 404.json"
        style="width: auto;height: 500px;margin: 0 auto;background: transparent;"></lottie-player>
    <p>
        {{ err.message }}
    </p>
</div>