<div>
    <h2>Something is up</h2>
    <lottie-player loop autoplay mode="normal" src="https://assets3.lottiefiles.com/packages/lf20_urmTP4.json"
        style="width: 60%"></lottie-player>
    {{!-- To change to handlebars format --}}
    {{!-- <p>
        <%=err.message%>
    </p> --}}
</div>