<section>
    <div class="main-wrapper">
    </div>

    <div class="secondary-wrapper">
        <div class="movie-cards">
    
        </div>
        <div class="movie-cards">

        </div> 
        <div class="movie-cards">

        </div>
    </div>

     <div class="secondary-wrapper">
        <div class="movie-cards">
    
        </div>
        <div class="movie-cards">

        </div> 
        <div class="movie-cards">

        </div>
    </div>


</section>