<link rel="stylesheet" href="/static/css/home.css">

<section class="hero-section">
  <div class="hero-background">
    {{!-- src (link to video of random "now-playing" movie) will be added by script --}}
    <iframe class="hero-video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="hero-details-container">
    <div class="hero-details">
      <p class="hero-title"></p>
      <p class="hero-runtime-genres-release"></p>
      <div class="hero-rating-container">
            <i class="fas fa-star rating-star" id="hero-rating-star"></i>
            <div class="hero-rating">
              <span class="hero-rating-value"></span>
              <span class="hero-number-of-votes"></span>
            </div>
          </div>
    </div>
    <p class="hero-overview"></p>
    <div class="hero-cast">
      <div class="hero-actor">
        <img class="hero-actor-image" id="hero-actor0-image">
        <p class="hero-actor-name" id="hero-actor0-name"></p>
      </div>
      <div class="hero-actor">
        <img class="hero-actor-image" id="hero-actor1-image">
        <p class="hero-actor-name" id="hero-actor1-name"></p>
      </div>
      <div class="hero-actor">
        <img class="hero-actor-image" id="hero-actor2-image">
        <p class="hero-actor-name" id="hero-actor2-name"></p>
      </div>
    </div>
  </div>
</section>

<section class="movies-section">
  {{!-- This title will be added by script --}}
  <h2 class="movies-section-header"></h2>
  <div class="movies-container">
    <div class="filters-container">
      <h3>Filter by genre</h3>
      <button class="clear-filters" type="button">Clear all</button>
      {{!-- Filters will appear here --}}
    </div>
    <div style="flex-grow:1;">
      <div class="movies">
        {{!-- 20 most popular movies will be loaded into this space --}}
      </div>
      <div class="pagination">
        {{!-- Pagination buttons will be loaded into this space --}}
      </div>
    </div>
  </div>
</section>

<script>const api_key = "{{api_key}}"</script>
<script src="/static/js/search.js" defer></script>
<script src="/static/js/pagination.js" defer></script>

{{#if search}}
<script>
  const searchValue = "{{search}}"
  let genres = "{{genres}}"
</script>
<script src="/static/js/search_from_movie.js" defer></script>
{{else}}
<script src="/static/js/home.js" defer></script>
{{/if}}