<div class="secondary-wrapper">
    <h2>Password reset link has been sent to your inbox</h2>
    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_CH6I9S.json" background="transparent" speed="1"
        style="width: 400px; height: 400px;" hover="" autoplay=""></lottie-player>
    <p>A link with instructions on how to reset your password has been sent to your inbox and will expire in 48 hours.
        Please follow the link provided to reset your password.
    </p>
</div>