<link rel="stylesheet" href="/static/css/index.css">

<div class="reset-password">
    <div>
        <img src="/static/assets/Logo2.png" alt="No CAAP Logo" class="logo" width="100">
    </div>
    <h3>Reset Password</h3>
    <form id="reset-password-form" method="POST" action="/password/reset/{{passwordResetHash}}">
        <div class="form-control">
            <label for="new-password">New Password</label>
            <input id="new-password" name="new-password" type="password" class="password rectangle-two"
                onchange="checkPasswordResetInput()" />
            <i class="fas fa-eye password-toggle"></i>
            <small>Invalid input</small>
        </div>
        <div class="form-control">
            <label for="confirm-new-password">Confirm New Password</label>
            <input id="confirm-new-password" name="confirm-new-password" type="password" class="password rectangle-two"
                onchange="checkPasswordResetInput()" />
            <i class="fas fa-eye password-toggle"></i>
            <small>Invalid input</small>
        </div>
        <button class="center btn" type="submit">Reset</button>
    </form>
</div>