<div>
    <h2>Thank you for signing up</h2>
    <p>A link to confirm your email address has been sent to your inbox and will expire in 48 hours.</p>
    {{!-- TODO: Add link to resend email --}}
</div>